<div class="container">
  <div class="row">
    <div class="col-12"><h1 class="text-center">Food is life</h1></div>
  </div>
  <div class="row justify-content-md-center mt-5">
    <div class="col-8" ng-show="vm.showInput">
      <form name="forgorPasswordForm">
        <h4 class="text-center">Please enter new password</h4>

        <div class="form-group">
          <label for="exampleInputPassword1"
            >Password (Must contain lowercase, uppercase and special character
            with minumum of 8 characters)</label
          >
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
            ng-model="formData.password"
            required
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword2">Confirm password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword2"
            placeholder="Confirm Password"
            ng-model="formData.confirmPassword"
            required
          />
        </div>

        <button class="btn btn-primary" ng-click="vm.submitPassword(formData)">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
