<div class="container">
  <div class="row">
    <div class="col-12"><h1 class="text-center">Food is life</h1></div>
  </div>
  <div class="row justify-content-md-center mt-5">
    <div class="col-8">
      <h4 class="text-center">Login</h4>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            ng-model="formData.email"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
            ng-model="formData.password"
          />
        </div>
        <div>
          <a href="" ng-click="openEmailModal()">Forgot password</a><br />
          <a href="" ng-click="goToRegister()">Click here to register</a>
        </div>

        <!--
          <div class="form-check">
              <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  Check me out
              </label>
          </div>
        -->
        <div
          class="modal fade "
          ,
          id="forgotModal"
          ,
          tabindex="-1"
          role="dialog"
          aria-labelledby="mySmallModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-body">
                <form novalidate>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1"> Enter email</label>
                    <input
                      type="text"
                      class="form-control"
                      ng-model="forgotEmail"
                    />
                  </div>
                  <button
                    class="btn btn-default"
                    ng-click="forgotPassword(forgotEmail)"
                  >
                    Submit
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <button class="btn btn-primary" ng-click="login(formData)">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
